<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout/layout :: layout(~{::section})">

<section class="board-write-section">

    <h2 class="board-view-title">공지사항 수정</h2>

    <form th:action="@{/board/board_modify}" method="post" class="board-write-form">
        <!-- 글 idx (숨김) -->
        <input type="hidden" name="idx" th:value="${board.idx}" />
        <input type="hidden" name="page" th:value="${page}" />

        <!-- 제목 -->
        <input type="text" name="subject" placeholder="제목을 입력하세요" 
               required class="board-input" th:value="${board.subject}" />

        <!-- 내용 -->
        <textarea name="content" placeholder="내용을 입력하세요" 
                  required class="board-textarea" th:text="${board.content}"></textarea>

        <!-- 제출 버튼 -->
        <button type="submit" class="board-list-btn-alt">수정</button>
    </form>

    <!-- 목록 버튼 -->
    <div style="margin-top: 20px;">
        <a th:href="@{/board/board_list(page=${page})}" class="board-write-btn">목록</a>
    </div>

</section>
</html>